# conda create --name mdpo python=3.10
# conda activate mdpo
torch==2.0.1
torchvision==0.15.2
numpy==1.26.2
accelerate==0.27.2
datasets==2.14.6
transformers==4.38.0
trl==0.7.2
peft==0.5.0
deepspeed==0.11.0
PyYAML==6.0.1
submitit==1.5.1
einops
tiktoken
matplotlib
pillow
transformers_stream_generator
wandb
